.team {
    height: 1200px;
}

.team .center {
    background: url('../images/team/center.png') 0 0 no-repeat;
    width: 35.2%;
    height: 500px;
    background-size: 100%;
    margin: 350px auto;
}

.team .description-center {
    width: 403px;
    height: 316px;
    position: absolute;
    top: 350px;
    left: 384px;
    background-color: #fff;
    border: 2px solid #E74C3C;
    border-radius: 20px;
    z-index: 100;
    box-sizing: border-box;
    padding: 0 30px;
}

.description-center #name {
    text-align: center;
}

.description-center .label {
    cursor: default;
    display: inline-block;
}

.description-center hr {
    margin: 10px 0;
}

.description-center .label {
    margin: 15px 10px 10px 0;
}

.description-center #description {
    margin-top: 10px;
    text-align: justify;
}

.description-center #contact {
    margin: 0;
}

.team .people {
    position: relative;
}

.person {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #E74C3C;
    color: #000000;
    background-color: #fff;
    z-index: 5;
    cursor: pointer;
}

.person.ag {
    background: url('../images/team/ag_person.png') 0 0 no-repeat;
    background-size: 100%;
}
.person.ks {
    background: url('../images/team/ks_person.png') 0 0 no-repeat;
    background-size: 100%;
}
.person.mp {
    background: url('../images/team/mp_person.png') 0 0 no-repeat;
    background-size: 100%;
}
.person.kb {
    background: url('../images/team/kb_person.jpg') 0 0 no-repeat;
    background-size: 100%;
}
.person.kt {
    background: url('../images/team/kt_person.png') 0 0 no-repeat;
    background-size: 100%;
}
.person.kd {
    background: url('../images/team/kd_person.png') 0 0 no-repeat;
    background-size: 100%;
}
.person.jp {
    background: url('../images/team/jp_person.png') 0 0 no-repeat;
    background-size: 100%;
}
.person.pz {
    background: url('../images/team/pz_person.png') 0 0 no-repeat;
    background-size: 100%;
}
.person.pb {
    background: url('../images/team/pb_person.png') 0 0 no-repeat;
    background-size: 100%;
}
.person.kk {
    background: url('../images/team/kk_person.png') 0 0 no-repeat;
    background-size: 100%;
}
.person.km {
    background: url('../images/team/km_person.png') 0 0 no-repeat;
    background-size: 100%;
}
.person.gs {
    background: url('../images/team/hs_person.png') 0 0 no-repeat;
    background-size: 100%;
}



.line {
    position: absolute;
    background-size: 100% !important;
}

.line.ag {
    background: url('../images/team/AG.png') 0 0 no-repeat;
    width: 17.09%;
    height: 200px;
    top: 177px;
    left: calc(25% + 2px);
}

.person.ag.hoverable {
    top: 100px;
    left: calc(12% + 4px);
}

.line.ks {
    background: url('../images/team/KS.png') 0 0 no-repeat;
    width: 7.48%;
    height: 200px;
    top: 203px;
    left: calc(43% + 2px);
}

.person.ks.hoverable {
    top: 53px;
    left: 37%;
}

.line.mp {
    background: url('../images/team/MP.png') 0 0 no-repeat;
    width: 17.09%;
    height: 200px;
    top: 203px;
    left: calc(52% + 6px);
}

.person.mp.hoverable {
    top: 53px;
    left: calc(63% + 1px);
}

.line.kb.ceo {
    background: url('../images/team/KB_ceo.png') 0 0 no-repeat;
    width: 22.43%;
    height: 200px;
    top: 251px;
    left: calc(55% - 5px);
}

.line.kb.ios {
    background: url('../images/team/KB_ios.png') 0 0 no-repeat;
    width: 16.02%;
    height: 200px;
    top: 322px;
    left: 67%;
}

.person.kb.hoverable {
    top: 177px;
    left: calc(76% + 4px);
}

.line.kt {
    background: url('../images/team/KT.png') 0 0 no-repeat;
    width: 19.23%;
    height: 10px;
    top: 483px;
    left: 67%;
}

.person.kt.hoverable {
    top: 405px;
    left: calc(86% + 1px);
}

.line.kd.ios {
    background: url('../images/team/KD_ios.png') 0 0 no-repeat;
    width: 16.02%;
    height: 200px;
    top: 507px;
    left: 67%;
}

.line.kd.android {
    background: url('../images/team/KD_android.png') 0 0 no-repeat;
    width: 21.37%;
    height: 200px;
    top: 579px;
    left: calc(62% - 4px);
}

.person.kd.hoverable {
    top: 592px;
    left: calc(76% + 7px);
}

.line.jp {
    background: url('../images/team/JP.png') 0 0 no-repeat;
    width: 22.44%;
    height: 200px;
    top: 665px;
    left: calc(58% - 3px);
}

.person.jp.hoverable {
    top: 827px;
    left: calc(74% - 2px);
}

.line.pz {
    background: url('../images/team/PZ.png') 0 0 no-repeat;
    width: 5.34%;
    height: 200px;
    top: 665px;
    left: calc(52% + 6px);
}

.person.pz.hoverable {
    top: 845px;
    left: calc(51% + 6px);
}

.line.pb.android {
    background: url('../images/team/PB_android.png') 0 0 no-repeat;
    width: 16.02%;
    height: 270px;
    top: 665px;
    left: calc(40% - 1px);
}

.line.pb.windows {
    background: url('../images/team/PB_windows.png') 0 0 no-repeat;
    width: 8.55%;
    height: 200px;
    top: 665px;
    left: calc(34% - 3px);
}

.person.pb.hoverable {
    top: 849px;
    left: calc(27% + 3px);
}

.line.kk {
    background: url('../images/team/KMan.png') 0 0 no-repeat;
    width: 16.02%;
    height: 230px;
    top: 579px;
    left: calc(17% - 2px);
}

.person.kk.hoverable {
    top: 791px;
    left: calc(10% + 6px);
}

.line.km.front {
    background: url('../images/team/KM_front.png') 0 0 no-repeat;
    width: 20.3%;
    height: 200px;
    top: 531px;
    left: calc(13% - 4px);
}

.line.km.back {
    background: url('../images/team/KM_back.png') 0 0 no-repeat;
    width: 13.89%;
    height: 200px;
    top: 470px;
    left: calc(19% + 1px);
}

.person.km.hoverable {
    top: 493px;
    left: calc(6% + 6px);
}

.line.gs {
    background: url('../images/team/GS.png') 0 0 no-repeat;
    width: 13.89%;
    height: 200px;
    top: 360px;
    left: calc(19% + 1px);
}

.person.gs.hoverable {
    top: 282px;
    left: calc(6% + 6px);
}

.stitch {
    position: absolute;
    background-color: rgb(85,85,85);
}

.stitch.description {
    background-color: rgba(0,0,0,0);
    width: 200px !important;
}

.stitch.business {
    width: 2.0833%;
    height: 25px;
    top: 275px;
    left: calc(41% + 1px);
}

.description.business {
    top: 266px;
    left: 23%;
    text-align: right;
}

.stitch.ceo {
    width: 6.25%;
    height: 25px;
    top: 275px;
    left: calc(49% + 4px);
}

.description.ceo {
    top: 275px;
    left: 57%;
}

.stitch.ios {
    width: 25px;
    height: 75px;
    top: 446px;
    left: calc(71% + 4px);
}

.description.ios {
    top: 420px;
}

.stitch.android {
    width: 100px;
    height: 25px;
    top: 740px;
    left: calc(54% + 6px);
}

.description.android {
    top: 732px;
    left: 64%;
}

.stitch.windows {
    width: 25px;
    height: 25px;
    top: 740px;
    left: calc(41% + 2px);
}

.description.windows {
    top: 732px;
    left: 23%;
    text-align: right;
}

.stitch.front {
    width: 50px;
    height: 25px;
    top: 600px;
    left: calc(23% + 3px);
}

.description.front {
    top: 590px;
    left: 28%;
}

.stitch.back {
    width: 25px;
    height: 50px;
    top: 435px;
    left: 26%;
}

.description.back {
    top: 395px;
    left: 11%;
    text-align: right;
}

@media only screen and (max-width: 1200px) {
    .center {
        transform: translateY(-58px);
    }
    .person {
        width: 124px;
        height: 124px;
    }
    .person.ag.hoverable {
        transform: translateY(-14px);
    }
    .person.kb.hoverable {
        transform: translateY(-27px);
    }
    .person.kt.hoverable {
        transform: translateY(-67px);
    }
    .person.kd.hoverable {
        transform: translateY(-100px);
    }
    .person.jp.hoverable {
        transform: translateY(-140px);
    }
    .person.pz.hoverable {
        transform: translateY(-142px);
    }
    .person.pb.hoverable {
        transform: translateY(-144px);
    }
    .person.kk.hoverable {
        transform: translateY(-134px);
    }
    .person.km.hoverable {
        transform: translateY(-82px);
    }
    .person.gs.hoverable {
        transform: translateY(-44px);
    }


    .line {
        transform: translateY(-28px);
    }
    .line.kb.ios {
        transform: translateY(-53px);
    }
    .line.kt {
        transform: translateY(-82px);
    }
    .line.kd.ios {
        transform: translateY(-87px);
    }
    .line.kd.android {
        transform: translateY(-98px);
    }
    .line.jp,
    .line.pz,
    .line.pb.android,
    .line.pb.windows{
        transform: translateY(-113px);
    }
    .line.kk {
        transform: translateY(-98px);
    }
    .line.km.front {
        transform: translateY(-90px);
    }
    .line.km.back {
        transform: translateY(-80px);
    }
    .line.gs {
        transform: translateY(-60px);
    }

    .stitch {
        transform: translateY(-33px);
    }
    .stitch.business {
        height: 20px;
    }
    .description.business {
        left: 20%;
    }
    .stitch.ceo {
        height: 20px;
    }
    .description.ceo {
        left: 56%;
    }
    .stitch.ios {
        width: 20px;
        height: 60px;
        transform: translateY(-74px);
    }
    .description.ios {
        transform: translateY(-74px);
    }
    .stitch.android {
        width: 80px;
        height: 20px;
        transform: translateY(-127px);
    }
    .description.android {
        left: 64%;
    }
    .stitch.windows {
        width: 20px;
        height: 20px;
        transform: translateY(-127px);
    }
    .description.windows {
        left: 20%;
    }
    .stitch.front {
        width: 40px;
        height: 20px;
        transform: translateY(-77px);
    }
    .stitch.back {
        width: 20px;
        height: 40px;
        transform: translateY(-74px);
    }
    .description.back {
        left: 10%;
    }

    .team .description-center {
        width: 331px;
        height: 260px;
        top: 292px;
        left: 319px;
    }

    .description-center h2,
    .description-center hr,
    .description-center #description,
    .description-center h6 {
        margin: 5px 0 0 0;
    }
    .description-center #description {
        line-height: 18px;
    }
    .description-center h6 {
        line-height: 18px;
    }
    .description-center h1 {
        margin: -5px 0;
    }
    .description-center .label {
        margin: 2px 2px 2px 0;
    }
}

@media only screen and (max-width: 992px) {
    .team {
        height: auto;
    }
    .mobile .person {
        position: relative;
    }
    .mobile h1 {
        padding: 0;
    }
    .mobile h2 {
        margin: 10px 0;
    }
    .mobile hr {
        margin: 10px 0;
    }
    .mobile #contact {
        margin: 0;
    }
    .worker {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 768px) {
    .mobile .person {
        margin: 0 auto;
    }
    .mobile .label {
        display: inline-block;
        margin-right: 5px;
    }
    .mobile h1,
    .mobile h2,
    .mobile h6,
    .mobile p {
        text-align: center;
    }
    .mobile .contact a {
        margin-right: 5px;
    }
}