<section class="fetaure_bottom">
    <div class="container">
        <div class="row sub_content">

            <!-- TESTIMONIALS -->
            <!-- TESTIMONIALS END -->
        </div>
    </div>
</section>
<section class="clients">
    <div class="container">
        <div class="row sub_content">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="dividerHeading">
                    <h4><span>Our Clients</span></h4>

                </div>

                <div class="our_clients">
                    <ul class="client_items clearfix">
                        <li class="col-xs-6 col-sm-2 col-md-2 col-lg-2"><a href="http://www.saeco.us/" ><img src="images/clients/logo-saeco@2x.jpg" class="img-responsive" alt="" /></a></li>
                        <li class="col-xs-6 col-sm-2 col-md-2 col-lg-2"><a href="http://www.dpksystem.pl/"><img src="images/clients/logo-dpk@2x.jpg" class="img-responsive" alt="" /></a></li>
                        <li class="col-xs-6 col-sm-2 col-md-2 col-lg-2"><a href="http://www.skoda-auto.de/"><img src="images/clients/logo-skoda@2x.jpg" class="img-responsive" alt="" /></a></li>
                        <li class="col-xs-6 col-sm-2 col-md-2 col-lg-2"><a href="http://grandparade.co.uk" ><img src="images/clients/logo-grandparade@2x.jpg" class="img-responsive" alt="" /></a></li>
                        <li class="col-xs-6 col-sm-2 col-md-2 col-lg-2"><a href="http://loyali.pl/"  ><img src="images/clients/logo-loyali@2x.jpg" class="img-responsive" alt="" /></a></li>
                        <li class="col-xs-6 col-sm-2 col-md-2 col-lg-2"><a href="http://www.switchconcepts.com/"><img src="images/clients/logo-switchconcept@2x.jpg" class="img-responsive" alt="" /></a></li>
                    </ul><!--/ .client_items-->
                </div>
            </div>
        </div>
    </div>
</section>