<div style="background-color: #030604">
  <div class="hero">
  	<div class="container">
  		<div class="col-md-6">
  			<div class="hero-copy animated fadeInLeft">
  				<h1>We develop mobile apps and backend in Java/Scala/Python</h1>
  				<h2>Sigmapoint is a Cracow based software company specializing in developing mobile apps for iOS, Android, Windows Phone and backend systems for both B2B/enterprise and startups.</h2>
  				<h3>Mobile apps development: <b>iOS, Android, Windows Phone</b><br>
  					Backend development: <b>Scala/Java (PlayFramework), Python, Node.js, Express.js</b><br>
  					Frontend: <b>HTML5, CSS3, jQuery, Angular.js</b></h3>
  			</div>
  		</div>
  		<div class="col-md-6">
  			<!--<img src="" class="img-responsive">-->
  		</div>
  	</div>
  </div>
</div>
