<div style="background-color: #030604">
  <div class="hero">
  	<div class="container">
  		<div class="col-md-6">
  			<div class="hero-copy animated fadeInLeft">
  				<h1>Mobile app developers who will dress your idea in code</h1>
  				<h2>Sigmapoint is a Cracow based software company developing mobile apps for iOS, Android, Windows Phone and backend systems for both B2B/enterprise and startups.</h2>
				<a href="/#id_contact"><div class="btn btn-default btn-custom">Hire us!</div></a>
  			</div>
  		</div>
  		<div class="col-md-6">
  			<!--<img src="" class="img-responsive">-->
  		</div>
  	</div>
  </div>
</div>
